<p-accordion>
    <p-accordionTab header="Insights" [selected]="true">
        <tmc-insights></tmc-insights>
    </p-accordionTab>
    <p-accordionTab header="Account Profile">
        <tmc-account-profile></tmc-account-profile>
    </p-accordionTab>
    <p-accordionTab header="Affiliations">
        <tmc-affiliations></tmc-affiliations>
    </p-accordionTab>
    <p-accordionTab header="Key Stakeholders">
        <tmc-key-stakeholders></tmc-key-stakeholders>
    </p-accordionTab>
    <p-accordionTab header="Account Team">
        <tmc-account-team></tmc-account-team>
    </p-accordionTab>
</p-accordion>
