<div class="stakeholder">
    <div *ngFor="let stakeholder of stakeholders" class="p-grid border-btm">
        <div class="p-md-4">
            <img [src]="stakeholder.img"/>
        </div>
        <div class="p-md-8" style="padding-top: 15px;">
            <div class="stakeholder-name">{{stakeholder.name}}, {{stakeholder.title}}</div>
            <div class="stakeholder-role">{{stakeholder.role}}</div>
            <div class="stakeholder-contacted">Last Contacted: {{stakeholder.contactedOn.toDateString()}}</div>
        </div>
    </div>
</div>
<div class="stakeholder-more p-grid p-justify-end">
    <a (click)="showStakeholdersDialog()">View Details</a>
</div>

<p-dialog header="Key Stakeholders" [(visible)]="displayStakeholders" [modal]="true" [responsive]="true" [baseZIndex]="10000">
    <p-table [value]="stakeholders">
        <ng-template pTemplate="header">
            <tr>
                <th>Influence</th>
                <th>Stakeholder Name &amp; Role</th>
                <th>Programs</th>
                <th>Sentiment</th>
                <th>Access</th>
                <th>Called by others?</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stakeholder>
            <tr>
                <td>{{stakeholder.influence}}</td>
                <td>
                    <div class="stakeholder-name">{{stakeholder.name}}, {{stakeholder.title}}</div>
                    <div class="stakeholder-role">
                        {{stakeholder.role}}
                        <div *ngIf="stakeholder.kol" class="stakeholder-kol">
                            <span class="stakeholder-kol-text">KOL</span>
                        </div>
                    </div>
                    <div class="stakeholder-contacted">Last Contacted: {{stakeholder.contactedOn.toDateString()}}</div>
                </td>
                <td>{{stakeholder.programs}}</td>
                <td><img [src]="stakeholder.sentiment"></td>
                <td>{{stakeholder.access}}</td>
                <td>{{stakeholder.calledByOthers}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>