<div class="stakeholder">
    <p-table>
        <ng-template pTemplate="header">
            <tr>
                <th>Stakeholders</th>
                <th>Date Last Contacted</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="tbody">
            <tr>
                <td>Calliope Chapman, MD<br>Head of Oncology</td>
                <td>05/24/18</td>
            </tr>
            <tr>
                <td>Calliope Chapman, MD<br>Head of Oncology</td>
                <td>05/24/18</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="stakeholder-more p-grid p-justify-end"><a href="#">View Details</a></div>