
<div class="account-detail" >
    <div class="account-label">Account Type</div>
    <div class="account-content">{{accountProf[0].accountType}}</div>
</div>
<div class="account-detail">
    <div class="account-label">Mission</div>
    <div class="account-content">{{accountProf[0].mission}}</div>
</div>
<div class="account-detail">
    <div class="account-label">Profit Status</div>
    <div class="account-content">{{accountProf[0].mission}}</div>
</div>
<div class="account-detail">
    <div class="account-label">Provider Control</div>
    <div class="account-content">{{accountProf[0].mission}}</div>
</div>
<div class="account-detail">
    <i class="fa fa-check-square-o"></i>
    <span class="account-content">&nbsp;&nbsp;Formulary</span>
</div>
<div class="account-detail">
    <i class="fa fa-check-square-o"></i>
    <span class="account-content">&nbsp;&nbsp;IPPN</span>
</div>
<div class="account-detail">
    <i class="fa fa-exclamation-triangle"></i>
    <span class="account-content">&nbsp;&nbsp;In-House Pharmacy</span>
</div>
<div class="account-detail">
    <span class="account-label">% Specialty Pharmacy</span>
    <span class="account-content">
        <p-progressBar [value]="accountProf[0].specialtyPharmacy"></p-progressBar>
    </span>
</div>
<div class="account-detail">
    <span class="account-table">
        <p-table  [value]="accountProf[0].beds">
            <ng-template pTemplate="header">
                <tr>
                    <th>License Beds</th>
                    <th>Census Beds</th>
                    <th>Staffed Beds</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col>
                <tr>
                    <td class="textAlin">{{col.licenseBeds}}</td>
                    <td class="textAlin">{{col.censusBeds}}</td>
                    <td class="textAlin">{{col.staffedBeds}}</td>
                    </tr>
            </ng-template>
        </p-table>
    </span>
</div>
<div class="account-detail">
    <div class="account-label">Strengths</div>
    <div class="account-content">{{accountProf[0].strengths}}</div>
</div>
<div class="account-detail">
    <div class="account-label">Weaknesses</div>
    <div class="account-content">{{accountProf[0].weaknesses}}</div>
</div>
<div class="account-detail">
    <div class="account-label">Opportunities</div>
    <div class="account-content">{{accountProf[0].opportunities}}</div>
</div>
<div class="account-detail">
    <div class="account-label">Threats</div>
    <div class="account-content">{{accountProf[0].threats}}s</div>
</div>