<div class="account-detail">
    <div class="account-label">Account Type</div>
    <div class="account-content">Top 10</div>
</div>
<div class="account-detail">
    <div class="account-label">Mission</div>
    <div class="account-content">Grow to Top 5</div>
</div>
<div class="account-detail">
    <div class="account-label">Profit Status</div>
    <div class="account-content">Non Profit</div>
</div>
<div class="account-detail">
    <div class="account-label">Provider Control</div>
    <div class="account-content">Commercial</div>
</div>
<div class="account-detail">
    <i class="fa fa-check-square-o"></i>
    <span class="account-content">&nbsp;&nbsp;Formulary</span>
</div>
<div class="account-detail">
    <i class="fa fa-check-square-o"></i>
    <span class="account-content">&nbsp;&nbsp;IPPN</span>
</div>
<div class="account-detail">
    <i class="fa fa-exclamation-triangle"></i>
    <span class="account-content">&nbsp;&nbsp;In-House Pharmacy</span>
</div>
<div class="account-detail">
    <span class="account-label">% Specialty Pharmacy</span>
    <span class="account-content">
        <p-progressBar [value]="50"></p-progressBar>
    </span>
</div>
<div class="account-detail">
    <span class="account-table">
        <p-table>
            <ng-template pTemplate="header">
                <tr>
                    <th>License Beds</th>
                    <th>Census Beds</th>
                    <th>Staffed Beds</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body">
                <tr>
                    <td>80</td>
                    <td>50</td>
                    <td>20</td>
                </tr>
            </ng-template>
        </p-table>
    </span>
</div>
<div class="account-detail">
    <div class="account-label">Strengths</div>
    <div class="account-content">Population density growing in area & influx of physicians.</div>
</div>
<div class="account-detail">
    <div class="account-label">Weaknesses</div>
    <div class="account-content">None observed</div>
</div>
<div class="account-detail">
    <div class="account-label">Opportunities</div>
    <div class="account-content">None observed</div>
</div>
<div class="account-detail">
    <div class="account-label">Threats</div>
    <div class="account-content">Competitor providing discounts</div>
</div>