<div class="ativitytab">
    <div class="p-grid">
        <div class="p-md-6">
            <h2>Activity</h2>
        </div>
        <div class="p-md-6">
            <div class="p-grid p-justify-end p-align-center">
                <h3 class="right-content" style="margin-right: 10px;">17<br>Objectives</h3>
                7 Achieved<br>
                6 In progress<br>
                4 Delayed
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-md-6">
            <h3>Completion of Initiatives</h3>
            <p-chart type="doughnut" [data]="pie"></p-chart>
            <p>You've completed 2 out of 5 initatives. Your most recent completion was on May 30, 2018.</p>
        </div>
        <div class="p-md-6">
            <h3>Recent Interactions</h3>
            <p-checkbox name="groupname" value="val1" label="My interactions only"></p-checkbox>
            <p>&nbsp;</p>
            <p-table  [responsive]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Representative</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td>09/11/2018</td>
                        <td>Call</td>
                        <td>Jia Girard</td>
                    </tr>
                    <tr>
                        <td>09/11/2018</td>
                        <td>Sample</td>
                        <td>Russel Peter</td>
                    </tr>
                    <tr>
                        <td>09/11/2018</td>
                        <td>Call</td>
                        <td>John Trovolta</td>
                    </tr>
                </ng-template>
            </p-table>
            <p>&nbsp;</p>
            <a href="#" class="d-flex justify-content-end">View Details</a>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-md-12">
            <h3>Initiatives</h3>
            <div class="initiatives">
                <p-panel toggler="header" toggleable="true" collapsed="true" expandIcon collapseIcon>
                    <p-header class="p-grid">
                        <div class="p-md-6">
                            <div class="p-grid p-align-center">
                                <div class="p-md-1">
                                    <i class="pi pi-chevron-right"></i>
                                </div>
                                <div class="p-md-11">                            
                                    <div class="init-header-heading">Strategy</div>
                                    <div>Coordinate functions and expertise with all internal stakeholders</div>
                                </div>
                            </div>
                        </div>
                        <div class="p-md-3">
                            <div class="init-header-heading">Tactic Owner</div>
                            <div>Fedir Trucco</div>
                        </div>
                        <div class="p-md-2">
                            <div class="init-header-heading">Due Date</div>
                            <div>07/20/18</div>
                        </div>
                        <div class="p-md-1">
                            <div class="init-header-heading">Status</div>
                            <div><img src="assets/images/u465.png"></div>
                        </div>
                    </p-header>
                    <div class="p-grid">
                        <div class="p-md-6">
                            <div class="init-header-heading">Task Details</div>
                        </div>
                        <div class="p-md-3">
                            <div class="init-header-heading">Assigned To</div>
                        </div>
                        <div class="p-md-2">
                            <div class="init-header-heading">Date Assigned</div>
                        </div>
                        <div class="p-md-1">
                            <div class="init-header-heading">Status</div>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-md-6">
                            <div>Email new Head of Oncology</div>
                        </div>
                        <div class="p-md-3">
                            <div>Garth Jordá</div>
                        </div>
                        <div class="p-md-2">
                            <div>02/26/18</div>
                        </div>
                        <div class="p-md-1">
                            <div><img src="assets/images/u465.png"></div>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-md-6">
                            <div>Meet with Dr. Anthony Bennet and Dr. Xia Nikolaev for interviews</div>
                        </div>
                        <div class="p-md-3">
                            <div>Mark Seward</div>
                        </div>
                        <div class="p-md-2">
                            <div>01/15/18</div>
                        </div>
                        <div class="p-md-1">
                            <div><img src="assets/images/u467.png"></div>
                        </div>
                    </div>
                </p-panel>
                <p-panel toggler="header" toggleable="true" collapsed="true" expandIcon collapseIcon>
                    <p-header class="p-grid">
                        <div class="p-md-6">
                            <div class="p-grid p-align-center">
                                <div class="p-md-1">
                                    <i class="pi pi-chevron-right"></i>
                                </div>
                                <div class="p-md-11">                            
                                    <div class="init-header-heading">Strategy</div>
                                    <div>Establish governance system for 2018 initiatives</div>
                                </div>
                            </div>
                        </div>
                        <div class="p-md-3">
                            <div class="init-header-heading">Tactic Owner</div>
                            <div>Josephine Sung</div>
                        </div>
                        <div class="p-md-2">
                            <div class="init-header-heading">Due Date</div>
                            <div>08/31/18</div>
                        </div>
                        <div class="p-md-1">
                            <div class="init-header-heading">Status</div>
                            <div><img src="assets/images/u468.png"></div>
                        </div>
                    </p-header>
                    <div class="p-grid">
                        <div class="p-md-6">
                            <div class="init-header-heading">Task Details</div>
                        </div>
                        <div class="p-md-3">
                            <div class="init-header-heading">Assigned To</div>
                        </div>
                        <div class="p-md-2">
                            <div class="init-header-heading">Date Assigned</div>
                        </div>
                        <div class="p-md-1">
                            <div class="init-header-heading">Status</div>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-md-6">
                            <div>Email new Head of Oncology</div>
                        </div>
                        <div class="p-md-3">
                            <div>Garth Jordá</div>
                        </div>
                        <div class="p-md-2">
                            <div>02/26/18</div>
                        </div>
                        <div class="p-md-1">
                            <div><img src="assets/images/u465.png"></div>
                        </div>
                    </div>
                    <div class="p-grid">
                        <div class="p-md-6">
                            <div>Meet with Dr. Anthony Bennet and Dr. Xia Nikolaev for interviews</div>
                        </div>
                        <div class="p-md-3">
                            <div>Mark Seward</div>
                        </div>
                        <div class="p-md-2">
                            <div>01/15/18</div>
                        </div>
                        <div class="p-md-1">
                            <div><img src="assets/images/u467.png"></div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </div>
</div>