<div class="accountteam">
    <div class="p-grid">
        <div class="p-md-3">
                <img src="/assets/images/u703.png">
        </div>
        <div class="p-md-9">
            <div class="account-name">Almira Merlin</div>
            <div class="account-role">Sales Representative</div>
            <div class="account-email">amerlin@nefit.com</div>
            <div class="account-phone">phone: 301 253 9074</div>
        </div>
    </div>
</div>
<div class="accountteam">
    <div class="p-grid">
        <div class="p-md-3">
                <img src="/assets/images/u716.png">
        </div>
        <div class="p-md-9">
            <div class="account-name">Gene Vasquez</div>
            <div class="account-role">Key Account Manager</div>
            <div class="account-email">gvasquez@nefit.com</div>
            <div class="account-phone">phone: 209 871 4000</div>
        </div>
    </div>
</div>
<div class="accountteam-more p-grid p-justify-end"><a href="#">View Details</a></div>