<div class="accountteam">
    <div class="p-grid border-btm" *ngFor="let account of accounts | slice:0:4" style="margin-bottom: 5px;">
        <div class="p-md-4">
                <img [src]="account.img">
        </div>
        <div class="p-md-8">
            <div class="account-name">{{account.name}}</div>
            <div class="account-role">{{account.role}}</div>
            <div class="account-email">{{account.email}}</div>
            <div>Phone: <span class="account-phone">{{account.phone}}</span></div>
        </div>
    </div>
</div>
<div *ngIf="accounts.length > 4" class="accountteam-more p-grid p-justify-end">
    <a (click)="showAccountTeamDialog()">View {{accounts.length - 4}} more Team Members</a>
</div>

<p-dialog header="Account Team" [(visible)]="displayAccountTeam" [modal]="true" [responsive]="true" [baseZIndex]="10000">
    <div class="p-grid border-btm" *ngFor="let account of accounts" style="margin-bottom: 5px;">
        <div class="p-md-4">
                <img [src]="account.img">
        </div>
        <div class="p-md-8">
            <div class="account-name">{{account.name}}</div>
            <div class="account-role">{{account.role}}</div>
            <div class="account-email">{{account.email}}</div>
            <div>Phone: <span class="account-phone">{{account.phone}}</span></div>
        </div>
    </div>
</p-dialog>
