<div class="accountteam">
    <div class="row">
        <div class="col-md-3">
                <img src="https://d2v8ggac1o0f6z.cloudfront.net/gsc/QG1AII/69/01/06/69010626a39e4013a53b846eaf17abf9/images/account_v3/u703.png?token=22519499f8663bb22c76dd48df5eef9f">
        </div>
        <div class="col-md-9">
            <div class="account-name">Almira Merlin</div>
            <div class="account-role">Sales Representative</div>
            <div class="account-email">amerlin@nefit.com</div>
            <div class="account-phone">phone: 301 253 9074</div>
        </div>
    </div>
</div>
<div class="accountteam">
    <div class="row">
        <div class="col-md-3">
                <img src="https://d26uhratvi024l.cloudfront.net/gsc/QG1AII/69/01/06/69010626a39e4013a53b846eaf17abf9/images/account_v3/u716.png?token=4c152060f6fed9af1cf66c3f72a03cda">
        </div>
        <div class="col-md-9">
            <div class="account-name">Gene Vasquez</div>
            <div class="account-role">Key Account Manager</div>
            <div class="account-email">gvasquez@nefit.com</div>
            <div class="account-phone">phone: 209 871 4000</div>
        </div>
    </div>
</div>
<div class="accountteam-more p-grid p-justify-end"><a href="#">View Details</a></div>