<div class="affiliation">
    <div class="affiliation-label">Affiliated Accounts</div>
    <div class="affiliation-link">
        <i class="fa fa-h-square fa-lg"></i>
        &nbsp;Berwyn Hospital
    </div>
    <div class="affiliation-link">
        <i class="fa fa-h-square fa-lg"></i>
        &nbsp;Rochester Center
    </div>
    <div class="affiliation-link">
        <i class="fa fa-h-square fa-lg"></i>
        &nbsp;Brocklehurst Medical
    </div>
    <div class="affiliation-link">
        <i class="fa fa-h-square fa-lg"></i>
        &nbsp;Helen Burns Hospital
    </div>
</div>
<div class="affiliation-more p-grid p-justify-end"><a href="#">View 2 more Accounts</a></div>
<div class="affiliation">
    <div class="affiliation-label">Affiliated Physicians</div>
    <div class="physician-link">
        <i class="fa fa-user-md fa-lg"></i>
        &nbsp;Dr. Hanna Li
    </div>
    <div class="physician-link">
        <i class="fa fa-user-md fa-lg"></i>
        &nbsp;Dr. Hanna Li
    </div>
    <div class="physician-link">
        <i class="fa fa-user-md fa-lg"></i>
        &nbsp;Dr. Hanna Li
    </div>
    <div class="physician-link">
        <i class="fa fa-user-md fa-lg"></i>
        &nbsp;Dr. Hanna Li
    </div>
</div>
<div class="affiliation-more p-grid p-justify-end"><a href="#">View 5 more Physicians</a></div>