<div class="p-grid p-col">
    <div class="p-md-12">
        <p-card styleClass="topbar">
            <div class="p-grid p-justify-between p-align-center">
                <h2><i class="fa fa-hospital-o fa-2x"></i> Tylor Medical Center</h2>
                <span class="address-color">102 Franklin Avenue<br>Greenwich, CT 06830</span>
                <span class="address-color">info@unitedmedical.com<br>Phone: 203 763 3089</span>
            </div>
        </p-card>
    </div>
    <div class="p-md-12">
        <div class="p-grid">
            <div class="p-col p-md-4">
                <tmc-accordion-menu></tmc-accordion-menu>
            </div>
            <div class="p-col p-md-8">
                <tmc-tabs-menu></tmc-tabs-menu>
            </div>
        </div>
    </div>
</div>