/* You can add global styles to this file, and also import other style files */

body{
    word-break: break-word;
}

.topbar{
}

.right-content{
    text-align: right;
}

.left-content{
    text-align: left;
}

.address-color{
    color: #327F97 !important;
}

.insight{
    padding: 10px;
    border-bottom: 1px solid #c8c8c8;
}

.insight-date{
    padding: 2px;
    font-size: 80%;
}

.account-detail{
    padding: 10px;
}

.account-label{
    font-size: 80%;
}

.affiliation{
    padding: 10px;
}

.affiliation-label{
    font-size: 80%;
    margin-bottom: 10px;
}

.affiliation-link{
    padding: 7px;
    font-weight: bold;
}

.physician-link{
    padding: 7px;
    font-weight: bold;
}

.affiliation-more{
    padding-top: 10px;
}

.accountteam{
    padding: 10px;
}

.accountteam-more{
    cursor: pointer;
}

.performance-mostvalue{
    color: rgba(45, 41, 38, 0.6);
    font-style: oblique;
    font-weight: bold;
}

.sales-num-outof{
    font-weight: bold;
    font-size: 50%;
}

.sales-num{
    font-weight: bold;
    font-size: 150%;
}

.stakeholder-name, .account-name{
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #327F97;
}

.stakeholder-role, .account-role{
    font-weight: 400;
    font-style: italic;
}

.stakeholder-contacted{
    font-weight: 400;
    font-style: normal;
    font-size: 75%;
}

.stakeholder-kol{
    background-image: url(assets/images/u681.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    float: right;
}

.stakeholder-kol-text{
    color: white;
    font-size: 80%;
    font-style: normal !important;
    padding-left: 3px;
}

.stakeholder-more {
    padding-top: 10px;
    cursor: pointer;
}

.account-email{
    color: #327F97;
}

.account-phone{
    color: #327F97;
}

.border-btm{
    border-bottom: 1px solid #c8c8c8;
}

.padding-btm{
    padding-bottom: 10px;
}

.margin-btm{
    margin-bottom: 10px;
}

.init-header-heading{
    font-size: 80%;
}

.initiatives .ui-panel{
    padding-bottom: 2px !important;
    border-radius: 0px;
}

.initiatives .ui-panel .ui-panel-titlebar{
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333333;
    padding-bottom: 0px;
}

.initiatives .ui-panel .ui-panel-content{
    background-color: rgba(247, 247, 247, 1);
}