<div class="insight">
    <div class="insight-date">May 7, 2018</div>
    <div class="insight-content">4 new patients have been diagnosed in the last week.</div>
</div>
<div class="insight">
    <div class="insight-date">April 30, 2018</div>
    <div class="insight-content">New Clinical Trial initiated for Dasaturumab for 3L HER2+ patients. Dr. Wayne Martinwill be the chief investigator at Taylor Medical Center.</div>
</div>
<div>
    <a href="#" class="p-grid p-justify-end" style="padding: 10px;">View All</a>
</div>