<div class="insight" *ngFor="let insight of insights | slice:0:2">
    <div class="insight-date">{{insight.date}}</div>
    <div class="insight-content">{{insight.info}}</div>
</div>

<div>
    <a type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" class="p-grid p-justify-end" style="padding: 10px;cursor:pointer;" label="Show">View All</a>
</div>

<p-dialog header="All Insights" [(visible)]="display" [modal]="true" [responsive]="true" [baseZIndex]="10000">
    <div class="insight" *ngFor="let insight of insights ">
        <div class="insight-date">{{insight.date}}</div>
        <div class="insight-content">{{insight.info}}</div>
    </div>
</p-dialog>
